body{
    background-color:  lightgreen;
    color: #312F2F;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
padding: 5px 20px;
background-color: lightblue;
border-style: none;
color: #312F2F;
}
input{
    height: 20px;
}